<html>
    <head>
        <title>Bean's blog</title>
    </head>
    <body>
        <div>
            <h1 style="background-color:orange"><a href="">TheBeanSupreme's Blog</a></h1>
        </div>

        <div>
            <p>Published: 19.05.2017, 10:25</p>
            <h2 style="background-color:#66CC33"><a href="">My first post</a></h2>
            <p style="color:PowderBlue">༼ つ ◕_◕ ༽つ IO ARCANA BOIZ ༼ つ ◕_◕ ༽つ</p>
        </div>

        <div>
            <p>Published: 19.05.2017, 10:26</p>
            <h2 style="background-color:#66CC33"><a href="">My second post</a></h2>
            <p>HYPE</p>
    </body>
</html>